* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background for the entire page */
.App{
  background-image: linear-gradient(0deg, rgb(233,156,156) 0%, rgb(255, 231, 231) 100%);
}

/*========== Header ==========*/
header {
  min-height: 15vh;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=================================================

To do list

=================================================*/

/*========== Body ==========*/
body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: white;
}

/*========== Form: input, submit, and filter ==========*/
.form-container {
  max-width: 41.5rem;
  width: 85vw;
  min-height: 15vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Input new to-do items */
.todo-input{
  height: 3.5rem;
  flex: 2;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  color:rgb(151, 151, 151);
  background: white;
  border-radius: 0.5rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

/* Submit button */
.todo-button{
  height: 3.5rem;
  font-size: 2rem;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border: none;
  color: rgb(233, 156, 156);
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Input and submit effects */
.todo-button:focus, .todo-input:focus{
  outline: none;
  background: rgb(255, 231, 231);
}

.todo-button:hover {
  background: white;
  color: rgb(221, 103, 103);
}

/* Filter */
/* For flex box space distribution purpose*/
.selector-flex{
  flex: 1;
}

/* The body of the filter */
.filter {
  height: 3.5rem;
  width: 100%;
  padding-left: 0.5rem;
  color: rgb(233, 156, 156);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: 0;
  border-radius: 0.5rem;
}

/* Box containing the selector for button adding purpose*/
.selector {
  height: 3.5rem;
  margin-left: 1rem;
  position: relative;
}

/* The arrow button */
.selector::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: rgb(233, 156, 156);
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  pointer-events: none;
}

/*========== To do list ==========*/
/* The box that contains the entire todo list */
.todo-list {
  min-height: 100vh;
  max-width:41.5rem;
  width:85vw;
  padding: 1rem;
  margin: auto;
  list-style: none;
  background: rgba(255, 232, 232, 0.5);
  border-radius: 0.5rem;
}

.todo-item, .complete-btn, .trash-btn{
  border-radius: 0.5rem;
}

/* The box that contains individual todo list items
and the complete and trash buttons */
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-item {
  height: 3em;
  max-width: 100rem;
  width: 100em;
  padding:0.7em;
  margin: 0.2em;
  border: none;
  background:rgb(233, 156, 156);
  color:white;
  overflow: hidden;
}

.trash-btn,
.complete-btn {
  height: 3em;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  margin: 0.2rem;
  border: none;
  cursor: pointer;
}

.complete-btn {
  background: rgb(11, 212, 162);
}

.trash-btn {
  background: rgb(221, 103, 92);
}

/* Formatting for completed items */
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}